/*Fonts*/
@font-face {
    font-family: 'JB_MR'; 
    src: url(/fonts/18893.ttf); 
   }
body{
    margin: 0px;
}
.container{
    width: 100%;
    height: 100%;
}
/*Navigation menu*/
#navmenu{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}
#navmenu>.nav{
    display: inline-block;
    width: 80%;
    height: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'JB_MR' !important;
}
#navmenu>.nav>#logo{
    display: inline-block;
    font-size: 30px;
    }
#navmenu>.nav>#logo>a{
    position: relative;
    text-decoration: none;
    color: white;
    top: 10px;
}
#navmenu>.nav>#navigation{
    position: relative;
    display: inline-block;
    left: 50%;
    font-weight: lighter;
}
#navmenu>.nav>#navigation>ul{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#navmenu>.nav>#navigation>ul>li{
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 50px;
    margin: 0px 20px 0px 20px;
    font-size: 25px;
}
#navmenu>.nav>#navigation>ul>li:hover{
    background-color: rgba(255, 255, 255, 0.352);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    transition-duration: 1.0s;
}
#navmenu>.nav>#navigation>ul>li>a{
    position: relative;
    top: 10px;
    text-decoration: none;
    color: white;
}
/*End of navigation menu*/

/*Main section*/
#main{
    width: 100%;
    height: 100vh;
    background-image: url(/images/mainphoto.jpg);
    background-size: contain;
}
/*End of main section*/

/*About section*/
#about{
    width: 100%;
    height: 100vh;
    background-color: white;
}

#about>.container>.info>.text{
    width: 80%;
    height: 80%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10%;
    border: 0.5px solid rgba(77, 77, 77, 0.876);
    border-radius: 100px;
    
}
#about>.container>.info,#photo{
    display: inline-block;
    width: 33.1%;
    height: 100%;
}
#about>.container>#photo>img{
    position: relative;
    top:20%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 425px;
    border: 2px solid white;

}
/*End of about section*/

/*Portfolio section*/

/*End of portfolio section*/


/*Contacts section*/
#contacts{
    width: 100%;
    height: 100vh;
}
#contacts>.container{
    position: relative;
    top: 10%;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
/*End of contacts section*/
